---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Landing";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <div style="display:flex; justify-content: center; align-items: center; flex-direction: column; padding-top: 0px;">
        <div>
            <h1>Hadad Fadilah</h1>
        </div>
        <span class="badge">Fullstack Developer</span>
    </div>
    <h2>About</h2>
    <p> 
        Hi! You can call me Fadil! Im a self-taught full-stack programmer that usually use Go and Typescript in development.  
        JavaScript. I have a strong interest in blockchain development and a passion for exploring various fields in technology.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My Portfolio</button>
        </a>
        <button class="btn">My CV</button>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="GO" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Svelte" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="tailwind#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="GO" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
</Layout>

