---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="150" alt="RaccoonNotesGif" src="/blog.webp" />
    </div>
    <h2>Blog</h2>
    <div style="display:flex; justify-content: center;">
        <h3>Soon</h3>
    </div>
</Layout>
